{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Bordo </title>
{% endblock title %}
{% block css %}
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{% static 'plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/nouislider.min.css'%}" rel="stylesheet" type="text/css">
    <!-- END THEME GLOBAL STYLES -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/custom-nouiSlider.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/bootstrap-range-Slider/bootstrap-slider.css'%}" rel="stylesheet" type="text/css">
    <!--  END CUSTOM STYLE FILE  -->

{% endblock css %}
{% block content %}
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-12 layout-top-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area">
                                <div class="form-group mb-0">
                                    <input id="rangeCalendarFlatpickr" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Select Date..">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'plugins/highlight/highlight.pack.js'%}"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/js/scrollspyNav.js'%}"></script>
    <script src="{% static 'plugins/flatpickr/flatpickr.js'%}"></script>
    <script src="{% static 'plugins/noUiSlider/nouislider.min.js'%}"></script>

    <script src="{% static 'plugins/flatpickr/custom-flatpickr.js'%}"></script>
    <script src="{% static 'plugins/noUiSlider/custom-nouiSlider.js'%}"></script>
    <script src="{% static 'plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js'%}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
    $(document).ready(function(){
        $('#rangeCalendarFlatpickr').on("change", function (){
            console.log($('#rangeCalendarFlatpickr').val().slice(0, 10));
            console.log($('#rangeCalendarFlatpickr').val().slice(14, 24));
        });
    });
    </script>
{% endblock js %}