{% load static %}
<style>
  .checkborder{
    border: 1px solid #ccc !important;
  }
</style>
<table id="html5-extension" class="table table-hover non-hover " style="width:100%; text-align: center; ">
    <thead>
        <tr>
            <th rowspan="2" class="checkborder">№</th>
            <th rowspan="2" class="checkborder">Mijoz ismi</th>
            <th colspan="2" class="checkborder">Mijoz jami qarzdorlik summasi </th>
            <th colspan="2" class="checkborder">Mijoz to'lagan</th>
            <th colspan="2" class="checkborder">Mijoz qarzdorligi qoldiq</th>
            <th colspan="2" class="checkborder">Mijozdan olgan jami summa daromad</th>
        </tr>
        <tr>
            <th  class="checkborder">sum</th>
            <th class="checkborder">dollor</th>
            <th class="checkborder">sum</th>
            <th class="checkborder">dollor</th>
            <th class="checkborder">sum</th>
            <th class="checkborder">dollor</th>
            <th class="checkborder">sum</th>
            <th class="checkborder">dollor</th>
            
        </tr>
    </thead>
    <tbody id="datas">
       {% for productfilial in malumotlar %}
         
            <tr>
                <td class="checkborder">{{ forloop.counter }}</td>
                <td class="checkborder">{{ productfilial.fio }}</td>
                <td class="checkborder">{{ productfilial.qarz_sum|floatformat:2|default_if_none:'Yo\'q' }}</td>
                <td class="checkborder">{{ productfilial.qarz_dollar|floatformat:2 }}</td>
                <td class="checkborder">{{ productfilial.total_tulagan_som|floatformat:2|default:'To\'lanmagan' }}</td>
                <td class="checkborder">{{ productfilial.total_tulagan_dollar|floatformat:2|default:'To\'lanmagan'  }}</td>
                {% if productfilial.qoldiq_qarz_sum >= 0 %}
                    <td class="checkborder">{{ productfilial.qoldiq_qarz_sum|floatformat:2|default:'To\'lanmagan'  }}</td>
                {% else %}
                    <td class="checkborder">0</td>
                {% endif %}
                    
                <td class="checkborder">{{ productfilial.qoldiq_qarz_dollar|floatformat:2|default:'To\'lanmagan'  }}</td>
                <td class="checkborder">{{ productfilial.mijozdan_daromad_sum|floatformat:2|default:'To\'lanmagan'  }}</td>
                <td class="checkborder">{{ productfilial.mijozdan_daromad_dollar|floatformat:2|default:'To\'lanmagan'  }}</td>
                
            </tr>
            {% endfor %}
    </tbody>
    <br>
    <br>
    <tfoot>
        <tr>
            <td>#</td>
            <td>Jami:</td>
            <td>{{ all_clint_qarz_som|floatformat:2 }}</td>
            <td>{{ all_clint_qarz_dollar|floatformat:2 }}</td>
            <td>{{ all_clint_tulagan_som|floatformat:2 }}</td>
            <td>{{ all_clint_tulagan_dollar|floatformat:2 }}</td>
            <td>{{ all_clint_qarz_qoldiq_som|floatformat:2 }}</td>
            <td>{{ all_clint_qarz_qoldiq_dollar|floatformat:2 }}</td>
            <td>{{ all_clint_daromad_som|floatformat:2 }}</td>
            <td>{{ all_clint_daromad_dollar|floatformat:2 }}</td>
            
            
        </tr>
    </tfoot>
</table>


{% block js %}
<script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
<!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
<script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>

<script>
    $('#html5-extension').DataTable( {
        dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
        buttons: {
            buttons: [
                { extend: 'copy', className: 'btn' },
                { extend: 'csv', className: 'btn' },
                { extend: 'excel', className: 'btn' },
                { extend: 'print', className: 'btn' }
            ]
        },
        "oLanguage": {
            "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
            "sInfo": " _PAGE_ / _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "Izlash",
           "sLengthMenu": "Results :  _MENU_",
        },
        "stripeClasses": [],
        "lengthMenu": [10, 20, 50, 100],
        "pageLength": 15
    } );
</script>

{% endblock js %}