{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Nasiya Tarix | Eramax</title>
{% endblock title %}
{% block css %}
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css'%}">
    <link href="{% static 'assets/css/tables/table-basic.css'%}" rel="stylesheet" type="text/css" />
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{% static 'plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/nouislider.min.css'%}" rel="stylesheet" type="text/css">
    <!-- END THEME GLOBAL STYLES -->
    <link href="{% static 'plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">

{% endblock css %}
{% block content %}
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="container">
{#                <div class="loyout-px-spacing">#}
                    <div class="row layout-top-spacing" style="width: 100%;">
                        <div class="col-12 layout-spacing">
                            <div class="statbox widget box box-shadow p-0">
                                <div class="row">
                                    <div class="form-group mb-0 col-12">
                                        <input id="rangeCalendarFlatpickr" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Sanani tanlang">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>Qarz Tarix <span style="float: right">Jami : <a id="dsum">{{ dsum }}</a></span></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content widget-content-area">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-4">
                                                <thead>
                                                    <tr>
                                                        <th>№</th>
                                                        <th>Summa</th>
                                                        <th>Sana</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="debt">
                                                    {% for d in debts %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ d.debt }}</td>
                                                            <td>{{ d.date }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>To'langan Pul Tarix <span style="float: right">Jami : <a id="psum">{{ psum }}</a></span></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content widget-content-area">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-4">
                                                <thead>
                                                    <tr>
                                                        <th>№</th>
                                                        <th>Summa</th>
                                                        <th>Sana</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="pay">
                                                    {% for p in pays %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ p.sum }}</td>
                                                            <td>{{ p.date }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{#                </div>#}
            </div>
        </div>

{% endblock content %}
{% block js %}
    <script src="{% static 'plugins/highlight/highlight.pack.js'%}"></script>
    <script src="{% static 'plugins/flatpickr/custom-flatpickr.js'%}"></script>
    <script src="{% static 'plugins/noUiSlider/custom-nouiSlider.js'%}"></script>
    <script src="{% static 'plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js'%}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <script src="{% static 'assets/js/scrollspyNav.js'%}"></script>
    <script>
        checkall('todoAll', 'todochkbox');
        $('[data-toggle="tooltip"]').tooltip()
    </script>
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'plugins/flatpickr/flatpickr.js'%}"></script>
    <script src="{% static 'plugins/flatpickr/custom-flatpickr.js'%}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
    function getCSRFToken() {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, 10) == ('csrftoken' + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(10));
                break;
            }
            }
        }
      return cookieValue;
    }
    $(document).ready(function(){
        $('#rangeCalendarFlatpickr').on("change", function (){
            var csrfToken = getCSRFToken();
            var date1 = $('#rangeCalendarFlatpickr').val().slice(0, 10);
            var date2 = $('#rangeCalendarFlatpickr').val().slice(14, 24);
            var dt = JSON.stringify({
                date1:date1,
                date2:date2,
                d_id:{{ d_id }},
            })
            $.ajax({
                headers: { "X-CSRFToken": csrfToken },
                type: "POST",
                url: "{% url 'nasiyatarix' %}",
                data: dt,
                success: function(data) {
                    var dsum = data['dsum'];
                    var psum = data['psum'];
                    var debts = data['debts'];
                    var pays = data['pays'];
                    $("#dsum").empty();
                    $("#dsum").append(dsum);
                    $("#psum").empty();
                    $("#psum").append(psum);
                    $("#debt").empty();
                    $("#pay").empty();
                    var i = 1;
                    for(dt of debts){
                        var tr = `<tr>
                            <td><div>` + i + `</div></td>
                            <td><div>` + String(dt.sum) + `</div></td>
                            <td><div>` + String(dt.date) + `</div></td>
                        </tr>`
                        $('#debt').append(tr);
                        i++;
                    }
                    var j = 1;
                    for(dt of pays){
                        var tr = `<tr>
                            <td><div>` + j + `</div></td>
                            <td><div>` + String(dt.sum) + `</div></td>
                            <td><div>` + String(dt.date) + `</div></td>
                        </tr>`
                        $('#pay').append(tr);
                        j++;
                    }
                }
            });
        });
    });
    </script>
{% endblock js %}