{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Qabul | Bordo</title>
{% endblock title %}
{% block css %}
    <link href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.css'%}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'assets/css/apps/invoice.css'%}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
    
{% endblock css %}
{% block content %}
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row invoice layout-top-spacing">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="app-hamburger-container">
                            <div class="hamburger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu chat-menu d-xl-none"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></div>
                        </div>
                        <div class="doc-container">
                            <div class="tab-title">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="search">
                                            <input type="text" class="form-control" placeholder="Izlash">
                                        </div>
                                        <ul class="nav nav-pills inv-list-container d-block" id="pills-tab" role="tablist">
                                            {% for recieve in recieves %}
                                                <li class="nav-item">
                                                    <div class="nav-link list-actions" id="invoice-{{ recieve.id }}" data-invoice-id="{{ recieve.id }}">
                                                        <div class="f-m-body">
                                                            <div class="f-body">
                                                                <p class="invoice-customer-name">Nomi: {{ recieve.name }} <span style="color: red; float: right;">Kutilmoqda</span> </p>
                                                                <p class="invoice-customer-name"><span>Yetkazib beruvchi:</span> {{ recieve.deliver }} so'm</p>
                                                                <p class="invoice-customer-name"><span>So'm:</span> {{ recieve.som }}</p>
                                                                <p class="invoice-customer-name"><span>Dollar:</span> {{ recieve.dollar }}</p>
                                                                <p class="invoice-generated-date">Sana: {{ recieve.date }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="invoice-container">
                                <div class="invoice-inbox">

                                    <div class="inv-not-selected">
                                        <p>Qabulni tanlang</p>
                                    </div>

                                    <div class="invoice-header-section">
                                        <h4 class="inv-number"></h4>
                                        <h4></h4>
                                        <div class="invoice-action">
{#                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer action-print" data-toggle="tooltip" data-placement="top" data-original-title="Reply"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>#}
                                        </div>
                                    </div>

                                    <div id="ct" class="">
                                        {% for recieve in recieves %}
                                            <div class="invoice-{{ recieve.id }}">
                                                <div class="content-section  animated animatedFadeInUp fadeInUp">

                                                    <div class="row">

                                                        <div class="col-sm-6 col-12">
                                                            <h3 class="in-heading">{{ recieve.name }}</h3>
                                                        </div>
{#                                                        <div class="col-sm-6 col-12 align-self-center text-sm-right">#}
{#                                                            <div class="company-info">#}
{#                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hexagon"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path></svg>#}
{#                                                                <h5 class="inv-brand-name">CORK</h5>#}
{#                                                            </div>#}
{#                                                        </div>#}
                                                        <p class="inv-due-date"><span class="inv-title">Sana : </span> <span class="inv-date">{{ recieve.date }}</span></p>

                                                    </div>

                                                    <div class="row inv--detail-section">

                                                        <div class="col-sm-7 align-self-center">
                                                            <!-- <p class="inv-to">Invoice To</p> -->
                                                        </div>
                                                        <div class="col-sm-5 align-self-center  text-sm-right order-sm-0 order-1">
                                                            <!-- <p class="inv-detail-title">From : XYZ Company</p> -->
                                                        </div>

                                                        <div class="col-sm-7 align-self-center">
                                                            <!-- <p class="inv-customer-name">Jesse Cory</p>
                                                            <p class="inv-street-addr">405 Mulberry Rd. Mc Grady, NC, 28649</p>
                                                            <p class="inv-email-address">redq@company.com</p> -->
                                                        </div>
                                                        <div class="col-sm-5 align-self-center  text-sm-right order-2">
                                                            <!-- <p class="inv-list-number"><span class="inv-title">Invoice Number : </span> <span class="inv-number">[invoice number]</span></p>
                                                            <p class="inv-created-date"><span class="inv-title">Invoice Date : </span> <span class="inv-date">20 Aug 2019</span></p> -->
{#                                                            <p class="inv-due-date"><span class="inv-title">Sana : </span> <span class="inv-date">{{ recieve.date }}</span></p>#}
                                                        </div>
                                                    </div>

                                                    <div class="row inv--product-table-section">
                                                        <div class="col-12">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="">
                                                                        <tr>
{#                                                                            <th scope="col">S.No</th>#}
{#                                                                            <th scope="col">№</th>#}
                                                                            <th scope="col">Mahsulot</th>
                                                                            <th class="text-right" scope="col">So'm</th>
                                                                            <th class="text-right" scope="col">Dollar</th>
                                                                            <th class="text-right" scope="col">Kurs</th>
                                                                            <th class="text-right" scope="col">Soni</th>
{#                                                                            <th class="text-right" scope="col">Amount</th>#}
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for recieveitem in recieveitems %}
                                                                            {% if recieveitem.recieve == recieve %}
                                                                                <tr>
{#                                                                                    <td>{{ forloop.counter }}</td>#}
                                                                                    <td>{{ recieveitem.product }}</td>
                                                                                    <td class="text-right">{{ recieveitem.som }}</td>
                                                                                    <td class="text-right">{{ fakturaitem.dollar }}</td>
                                                                                    <td class="text-right">{{ fakturaitem.kurs }}</td>
                                                                                    <td class="text-right">{{ fakturaitem.quantity|floatformat:0 }}</td>
{#                                                                                    <td class="text-right">$2800</td>#}
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-4">
                                                        <div class="col-sm-5 col-12 order-sm-0 order-1">
                                                            <!-- <div class="inv--payment-info">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-12">
                                                                        <h6 class=" inv-title">Payment Info:</h6>
                                                                    </div>
                                                                    <div class="col-sm-4 col-12">
                                                                        <p class=" inv-subtitle">Bank Name: </p>
                                                                    </div>
                                                                    <div class="col-sm-8 col-12">
                                                                        <p class="">Bank of America</p>
                                                                    </div>
                                                                    <div class="col-sm-4 col-12">
                                                                        <p class=" inv-subtitle">Account Number : </p>
                                                                    </div>
                                                                    <div class="col-sm-8 col-12">
                                                                        <p class="">1234567890</p>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                        <div class="col-sm-7 col-12 order-sm-1 order-0">
                                                            <div class="inv--total-amounts text-sm-right">
                                                                <div class="row">
                                                                    <div class="col-sm-8 col-7">
                                                                        <p class="">Summa: </p>
                                                                    </div>
                                                                    <div class="col-sm-4 col-5">
                                                                        <p class="">{{ recieve.summa }} so'm</p>
                                                                    </div>
                                                                    <div class="col-sm-8 col-7">
                                                                        <p class="">Farq: </p>
                                                                    </div>
                                                                    <div class="col-sm-4 col-5">
                                                                        <p class="">{{ recieve.difference }} so'm</p>
                                                                    </div>
                                                                    <!-- <div class="col-sm-8 col-7">
                                                                        <p class=" discount-rate">Discount : <span class="discount-percentage">5%</span> </p>
                                                                    </div>
                                                                    <div class="col-sm-4 col-5">
                                                                        <p class="">$700</p>
                                                                    </div>
                                                                    <div class="col-sm-8 col-7 grand-total-title">
                                                                        <h4 class="">Grand Total : </h4>
                                                                    </div>
                                                                    <div class="col-sm-4 col-5 grand-total-amount">
                                                                        <h4 class="">$14000</h4>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>


                                </div>

                            </div>
                            
                        </div>

                    </div>
                </div>
                </div>
{% endblock content %}
{% block js %}

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/apps/invoice.js'%}"></script>
{% endblock js %}